h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
body,
html {
  background-color: gray;
  margin: 0;
  /* height: 100%; */
  color: white;
}
#login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#app-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#translations-container {
  display: none;
  position: relative;
  height: 300px;
  width: 100vw;
  color: white;
  background-color: black;
  overflow-y: auto;
}

#close {
  position: sticky;
  top: 5px;
  left: 5px;
}

#translations-feed {
  margin: 0 70px;
}

.translation {
  display: flex;
  max-width: 700px;
  margin: auto;
}

.speaker {
  font-weight: bold;
}

#videos {
  display: flex;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

#subscribers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  width: 100%;
}

